body {
  background-color: black;
  color: white;
}

header {

  background-color: black;
  height: 100px;
  flex: 1 1 100vw;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

}

header #logo {
  display: flex;


}

.menu {

  align-items: center;
  float: right;

}

nav {

  justify-content: flex-end;
  align-items: center;
  flex: 1 1 200px;
}

nav a {

  margin: 0 2%;
  font-size: 15pt;
}

main {
  height: calc(100vh - 224px);
  height: 1000px;
  display: flex;
  flex: 20 1 500px;
  /* border: solid red 2px; */


}

.navbar {
  /* border: solid red 2px; */

  justify-content: flex-end;
  display: flex;
  overflow: hidden;
  background-color: black;
  width: auto;
  height: 100px;
  align-items: center;

}

.navbar a {


  /* border: solid red 2px;  */
  float: right;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;

}

#Carrocel {

  color: white;
  margin: 20px;

}

#textoProjeto {


  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;



}

.conteudoDiv {
  display: flex;
  height: 200px;
  align-items: center;
}

.exibirImagem {
  flex: 1;
  height: 300px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.minhaImagem {
  display: none;
}

.minhaImagem img {
  width: 100%;
  height: 300px;
}

footer {

  margin-top: 100px;

}


.navbar a:hover {


  background-color: white;
  color: black;
  border-radius: 5px;
  transition: 1s 0s;
}






#imagem-grupo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10 0px;
}

#QuemSomos {
  color: #ffff;
  display: flex;
  margin-top: 20px;
  border-bottom: white solid 2px;
  border-top: white solid 2px;
  margin-bottom: 100px;
}

#Oque {
  color: #ffff;
  display: flex;
  margin-top: 20px;
  border-bottom: white solid 2px;
  border-top: white solid 2px;
  margin-bottom: 100px;
}

#Previsao {
  color: #ffff;
  display: flex;
  margin-top: 20px;
  border-bottom: white solid 2px;
  border-top: white solid 2px;
  margin-bottom: 100px;
}

.texto {

  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}


.circulo {
  width: 200px;
  height: 200px;
  margin: 0 66px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 5px #FFFF;
}



.circulo img {
  width: 100%;
  height: 100%;

}



.circulo-container {
  margin: 10px;
  text-decoration: none;
  color: inherit;
  flex: 0 0 auto;
  /* Adicionado para evitar que os círculos se estendam demais */
}

.circulo-container {
  width: 200px;
  /* Definindo a largura fixa dos círculos */
  margin: 10px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: flex;
  /* Adicionando display flex para alinhar itens verticalmente */
  flex-direction: column;
  /* Colocando os itens um embaixo do outro */
  align-items: center;
  /* Centralizando os itens horizontalmente */
}

h4 {
  margin-left: 10px;
  overflow: hidden;
  word-wrap: break-word;
  margin-top: 5px;
  color: #FFFF;
  font-weight: lighter;
  font-size: 2pc;
}

.circulo-container h1 {
  color: #FFFF;
  margin-top: 22px;
  font-weight: bold;
}

.circulo-container p {
  margin-left: 10px;
  overflow: hidden;
  word-wrap: break-word;
  margin-top: 2px;
  color: #FFFF;
  font-size: 2pc;
}


#titulo {
  color: #FFFF;
  text-align: center;
}


.lado-esquerdo,
.lado-direito {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


#logo_emblema {
  float: right;
}