* {

  margin: 0;
  padding: 0;

}

body {
  background-color: Rgba(241, 241, 241, 1);
  margin-bottom: 0px;
  padding: 0;
}

h1 {

  font-size: 50px;

}





/* Adicione uma classe específica para cada círculo, como circle1, circle2, etc. */
.circulo-set {
  display: flex;
}


#circuloSet2 {
  display: none;
}


#botaoVoltar {
  float: left;
  width: 5%;
  height: 60px;
  border: none;
  background-color: transparent;
  margin-top: 5%;
}

#imagemVoltar {
  width: 24%;
  height: 60px;
  cursor: pointer;
}

#imagemMedia {
  width: 100%;
  cursor: pointer;
}



#botaoProximo {
  float: right;
  width: 5%;
  height: 60px;
  border: none;
  background-color: transparent;
  margin-top: 5%;
}


#botaoProximoMedia {
  vertical-align: text-bottom;
  width: 5%;
  height: 60px;
  border: none;
  background-color: transparent;
  margin-top: 5%;
}

#botaoVoltarMedia {
  vertical-align: text-top;
  width: 5%;
  border: none;
  background-color: transparent;
  margin-top: 5%;
  display: flex;

}

#imagemProximo {
  width: 24%;
  height: 60px;
  cursor: pointer;
}


#MenuLateral {

  width: 100%;

}

#cabecalhoLogo {
  border-bottom: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100vw;
}

header #LogoSenaiHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 140px;
  height: 40px;
  display: flex;
  position: relative;

}


#DivImagem {

  display: flex;
  width: 65%;
  height: 20%;
  justify-content: center;

}

#LogoSenaiHeader {
  width: 20%;
  height: 50%;
}



#iconePessoaEscuro {
  float: left;
  width: 6%;
}



.titulo {
  text-align: center;
  margin-bottom: 110px;
  margin-top: 52px;
  font-size: 2pc;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.circulo {
  width: 200px;
  height: 200px;
  margin: 0 66px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 20px #FFFF;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.circulo:hover {
  transform: scale(1.0);
}

.circulo img {
  max-width: 90%;
  max-height: 70%;
  object-fit: contain;
  display: block;
}



.circulo-container {
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

.circulo-container h1 {
  margin-top: 20px;
  font-size: 2pc;
  font-weight: bold;
  position: relative;
}

.circulo-container h1::after {
  content: '';
  position: absolute;
  bottom: -90px;
  left: 50%;
  width: 150px;
  height: 16px;
  background-color: #000;
  border-radius: 2px;
  transform: translateX(-50%);
}

h2 {
  float: left;
  font-weight: bold;
  width: 10%;
  text-align: center;
  margin-top: 25px;
}


footer {
  float: right;
  margin-top: 40vh;
}




#imagemDark {

  z-index: 1;
  display: none;

}


#iconePessoaBranco {
  float: left;
  display: none;
  width: 6%;
}

#claraModeToggle {
  float: right;
  background-color: transparent;
  border-color: transparent;
  display: none;
}




#darkModeToggle {
  float: right;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

#sol {
  width: 5%;
  height: 60px;
  position: absolute;
  z-index: 1;
  right: 2vh
}



.dark-mode {
  background-color: #4F4F4F;
  color: #f9f9f9f9;
}


.dark-mode-logo {
  background-color: #4F4F4F;
}

.dark-mode .circulo {
  background-color: rgba(237, 27, 36, 1);
  box-shadow: 0px 0px 0px 20px rgb(191, 4, 4, 1);

}

.dark-mode .circulo-container h1::after {
  background-color: #fff;
  border-radius: 2px;
}